body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(images/icecreambg.jpg);
}

/* Structure */

#content {
    background: #5F997E;
    padding: 5px;
    width: 80%;
    /*Center Horizontally*/
    margin: auto;
    border-radius: 5px;
}

/* Navigation */
#main-nav a {
    /*Remove Underline*/
    text-decoration: none;
    background: slategrey;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

#main-nav a:hover {
    background: darkslategrey;
}

/* Typography */

h1 {
    color: #54665D;
}

.special {
    color: deepskyblue;
}