body {
    font-family: Arial, Helvetica, sans-serif;
    background: lightgrey;
}

/* Structure */

#content {
    background: white;
    padding: 5px;
    width: 80%;
    /*Center Horizontally*/
    margin: auto;
    border-radius: 5px;
}

/* Typography */

h1 {
    color: darkslategrey;
}