body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #3D9979;
}

/* Structure */

#content {
    background: #FFEEDB;
    padding: 5px;
    width: 80%;
    /*Center Horizontally*/
    margin: auto;
    border-radius: 5px;
    text-align: center;
}

ul {
    text-align: left;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin-bottom: 30px;
}

.one {
    background-color: #3D9979;
    margin: 20px;
}

img {
    border: 3px solid #FFEEDB;
}

.columns img {
    max-width: 80%;
}

section {
    border-radius: 5px;
    padding: 10px;
}

/* Typography */

h1 {
    color: #233730;
}

h2 {
    color: #233730;
    text-align: center;
}

h3 {
    color: #233730;
}

p {
    color: #233730;
}

@media only screen and (min-width: 768px) {
    .columns {
        display: flex;
    }

    .columns section {
        padding: 20px;
    }

    .columns img {
        max-width: 90%;
        display: block;
        margin: auto;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }
}