body {
    font-family: Arial, Helvetica, sans-serif;
    background: skyblue;
}

/* Structure */

#content {
    background: white;
    padding: 5px;
    width: 80%;
    /*Center Horizontally*/
    margin: auto;
    border-radius: 10px;
}

#nav-cont {
    width: 250px;
    margin: auto;
}

#main-cont img {
    max-width: 100%;
    border-radius: 10px;
    margin: auto;
    display: block;
    border: 4px solid darkslategrey;
}

hr {
    max-width: 85%;
    border: 2px solid lightgrey;
    border-radius: 10px;
}

#homecards {
    max-width: 60%;
    margin: auto;
    text-align: center;
}

#homecards section {
    margin-bottom: 20px;
    background-color: #EEEEEE;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    border: 4px solid darkslategrey;
}

#homecards img {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    border: 2px solid grey;
}

/* Mechanics */

.hide {
    display: none;
}

.up {
    width: 0;
    height: 0;
    display: inline-block;
    border: 8px solid transparent;
    border-bottom-color: darkslategrey;
}

.down {
    width: 0px;
    height: 0;
    display: inline-block;
    border: 8px solid transparent;
    border-top-color: darkslategrey;
}

/* Typography */
a {
    text-decoration: none;
    color: darkslategrey;
}

p {
    text-align: center;
}

h1 {
    color: darkslategrey;
    text-align: center;
    font-size: 60px;
}

h2 {
    color: grey;
    text-align: center;
}

#nav-items span{
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-size: 25px;
}

#nav-items span:hover{
    cursor: pointer;
}

button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: skyblue;
    width: 150px;
    height: 40px;
    font-size: 15px;
}

button:hover {
    background-color: royalblue;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .columns {
        display: flex;
    }

    .one {
        flex: 1;
    }

    #triangle {
        display: none;
    }

    #nav-items {
        display: flex;
        padding: 0;
        justify-content: center;
    }

    #nav-items span {
        margin-right: 20px; /* Add space between the items */
        margin-bottom: 10px;
        max-width: 200px;
    }

    #nav-items span::after {
        content: "|"; /* Add pipe symbol */
        margin-left: 20px; /* Add space after the pipe */
    }

    #nav-items span:last-child::after {
        content: ""; /* Remove pipe symbol after the last item */
    }
}