body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    margin: 0;
}

/* Structure */

.columns img {
    max-width: 100%;
}

.ten {
    flex: 10;
}

.forty {
    flex: 40;
}

.headergtw {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    text-align: right;
}

.headergtw p {
    font-size: 8px;
    display: inline;
    margin: 3px;
    padding: 0;
}

.headergtw br {
    display: inline;
}

.headerblk {
    background-color: black;
    color: white;
}

.headerblk img {
    width: 260px;
    height: 53px;
    margin: 0;
    padding: 0;
}

.footer2 img {
    width: 260px;
    height: 53px;
    margin: 0;
    padding: 0;
}

.headerred {
    background-color: #73000A;
    color: white;
}

.headerred h2 {
    padding: 0;
    margin: 0;
}


.footer1 {
    background-color: #ececec;
    color: black;
}

.footer1 h2 {
    padding: 10px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer2 {
    background-color: #73000A;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer2 h5, .footer2 p {
    padding-top: 10px;
}

.footer3 {
    background-color: black;
    color: white;
    border-top: 1px solid white;
    padding: 10px;
    text-align: center;
}

#content {
    padding: 5px;
    width: 80%;
    /*Center Horizontally*/
    margin: auto;
    border-radius: 5px;
}

main {
    margin-bottom: 150px;
}

.mainimg {
    padding-top: 20px;
    max-width: 100%;
}

.rightsbtop {
    border: 1px solid lightgrey;
    border-left: 5px solid darkred;
    width: 250px;
    padding-bottom: 20px;
}

.rightsbbot {
    border: 1px solid lightgrey;
    border-left: 5px solid darkred;
    background-color: #ececec;
    width: 250px;
    padding-bottom: 20px;
}

.rightsbbot img {
    max-width: 100%;
}

.highlights img {
    margin-bottom: 20px;
    display: inline;
    margin: 0;
    padding: 0;
}

input {
    width: 220px;
    height: 35px;
    background-color: black;
    border: 1px solid white;
}

/* Typography */
h1 {
    color: darkslategrey;
}

h2 {
    color: #73000A;
}

h3 {
    font-weight: normal;
    line-height: 20pt;
}

h4 {
    margin: 0;
}

p {
   font-size: 11px;
   margin: 0; 
   padding: 0;
}

a {
    color: #73000A;
    font-weight: bolder;
}

a:hover {
    background-color: #bf1927;
    color: white;
    text-decoration: none;
}

.sidenav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.sidenav a:hover {
    color: white;
    background-color: #bf1927;
}

.sidenav ul {
    padding: 0;
    padding-top: 20px;
    margin: 0;
    margin-right: 20px;
    border-bottom: 1px solid lightgrey;
}

.sidenav li {
    list-style-type: none;
    border-top: 1px solid lightgrey;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
}

.rightsbtop h5, .rightsbbot h5, .rightsbtop h4, .rightsbbot h5, .rightsbtop h1 {
    margin-top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkslategrey;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
}

.rightsbtop h4, .rightsbbot h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #73000A;
    font-weight: bold;
    font-size: 20px;
}

.rightsbtop h1 {
    color: #73000a;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 0;
}

.rightsbtop p, .rightsbbot p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.rightsbbot h4, h5, p {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 10px;
    margin: 0;
}

.rightsbbot h5 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkslategrey;
    font-weight: normal;
}

.rightsbbot a {
    font-size: 12px;
    padding-left: 10px;
    text-decoration: none;
    padding-top: 10px;
}

.footer1 p {
    display: inline;
    font-weight: bold;
    font-size: 12px;
    padding-top: 30px;
}

.headerred h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.highlights p {
    padding: 0;
    margin: 0;
    font-size: 15px;
    padding-bottom: 10px;
}

.highlights h4 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #73000A;
    padding-bottom: 10px;
}

.highlights h3 {
    font-weight: bold;
    color: #73000A;
}

::placeholder {
    opacity: 1; /* Firefox */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 18px;
    padding: 5px;
  }

@media only screen and (min-width: 768px) {
    .columns {
        display: flex;
    }
    
    .columns section {
        padding: 5px;
    }
    
    .one {
        flex: 1;
    }
    
    .two {
        flex: 2;
    }
    
    .three {
        flex: 3;
    }
    
    .four {
        flex: 4;
    }
    
    .five {
        flex: 5;
    }
    
    .six {
        flex: 6;
    }
    
    .seven {
        flex: 7;
    }
    
    .sidenav a {
        color: black;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
    }
    
    .sidenav a:hover {
        color: white;
    }
    
    .sidenav ul {
        padding: 0;
        padding-top: 20px;
        margin: 0;
        margin-right: 20px;
        border-bottom: 1px solid lightgrey;
    }
    
    .sidenav li {
        list-style-type: none;
        border-top: 1px solid lightgrey;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: white;
    }
    
    .navheader {
        border-left: 2px solid lightgrey;
        padding-left: 20px;
        background-color: #ececec;
    }

    .sidenav ul {
    padding: 0;
    padding-top: 20px;
    margin: 0;
    margin-right: 20px;
    border-bottom: 1px solid lightgrey;
    }

    .sidenav li {
        list-style-type: none;
        border-top: 1px solid lightgrey;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .navheader {
        border-left: 2px solid lightgrey;
        padding-left: 20px;
        background-color: #ececec;
    }
}