body {
    font-family: Arial, Helvetica, sans-serif;
    background: slategrey;
}

/* Structure */

#content {
    background: lightskyblue;
    padding: 20px;
    width: 80%;
    /*Center Horizontally*/
    margin: auto;
    border-radius: 10px;
}

#ex1-cont, #ex2-cont {
    padding: 20px;
    border: 5px solid whitesmoke;
    width: 250px;
    height: 540px;
    margin: auto;
    background-color: slategrey;
    border-radius: 10px;
    margin-bottom: 150px;
}

#ex2-cont {
    height: 380px;
}

#text {
    border: 1px solid white;
    background: slategrey;
    display: block;
    margin: auto;
    color: whitesmoke;
    border-radius: 5px;
    width: 80%;
    height: 30px;
}

img {
    max-width: 100%;
    height: 250px;
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#txt-btn {
    margin: auto;
    display: block;
    margin-top: 20px;
}

.slidecontainer {
    width: 90%;
    margin: auto;
  }
  
.slider {
-webkit-appearance: none;
width: 100%;
height: 25px;
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
background: #615756;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
background: #615756;
cursor: pointer;
}

#nav-cont {
    width: 250px;
    margin: auto;
}

/* Mechanics */

.hide {
    display: none;
}

.up {
    width: 0;
    height: 0;
    display: inline-block;
    border: 8px solid transparent;
    border-bottom-color: black;
}

.down {
    width: 0px;
    height: 0;
    display: inline-block;
    border: 8px solid transparent;
    border-top-color: black;
}

/* Typography */

h1, h2, #nav-items {
    color: royalblue;
    margin-top: 20px;
    text-align: center;
    padding: 0;
}

#ex1-cont h3, #ex2-cont h3 {
    color: whitesmoke;
    text-align: center;
}

#ex1-cont li {
    color: whitesmoke;
}

#text::placeholder {
    color: whitesmoke;
}

#nav-items span{
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

#nav-items span:hover{
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    #triangle {
        display: none;
    }

    #nav-items {
        display: flex;
        padding: 0;
        justify-content: center;
    }

    #nav-items span {
        margin-right: 5px; /* Add space between the items */
        margin-bottom: 10px;
    }

    #nav-items span::after {
        content: "|"; /* Add pipe symbol */
        margin-left: 5px; /* Add space after the pipe */
    }

    #nav-items span:last-child::after {
        content: ""; /* Remove pipe symbol after the last item */
    }
}